{% load static %}

<div class="container">
    <nav class="navbar navbar-expand-md  fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img class="logo" src="{% static 'images/favicon.png' %}" width="30" alt="Logo"/>
                <span>Марс</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link text-primary active" aria-current="page"
                           href="{% url 'home' %}">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-primary" href="{% url 'price' %}">Цены и сеансы</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link text-primary" href="{% url 'about' %}">О нас</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link text-primary" href="{% url 'contacts' %}">Контакты</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-primary" href="{% url 'add_films' %}">Добавить фильм</a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Поиск</button>
                </form>
            </div>
        </div>
    </nav>
</div>